span.title, #see-the-code {
  font-family: FuturaBT-Medium, sans-serif;
}

h1, h2, h3, dt, #get-the-code, #top {
  font: 12px/20px FuturaBT-Medium, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

#footer-links a {
  font: 10px/20px FuturaBT-Medium, sans-serif;
  text-transform: uppercase;
  color: #f4f4ec;
  letter-spacing: 1px;
}


* {
  margin: 0;
  padding: 0;
}

#container {
  width: 970px;
  padding: 30px;
  margin: 0 auto;
}
body {
  font: 13px/0px Arial, sans-serif;
  background-color: #30302e;
  color: #f4f4ec;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

p {
  line-height: 18px;
}

a {
  color: #83b5ca;
  text-decoration: none;
}

a img {
  border: 0;
}

a:hover {
  text-decoration: underline;
}

figure a:hover {
  text-decoration: none;
}

figcaption a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

h1, h3 {
  margin-bottom: 23px;
  color: #83b5ca;
}

h2 {
  margin-bottom: 15px;
  color: #83b5ca;
}

#curtain { 
margin-bottom: 23px;
}

#behind-the-curtain {
  width: 804px;
  margin: 0 auto;
  margin-bottom: 43px;
}

#behind-the-curtain-video {
  width: 804px;
  height: 453px;
  margin-bottom: 34px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #3b3b39;
  margin-bottom: 43px;
}

.content {
  background-color: #333;
}

#model-viewer {
  width: 970px;
  height: auto;
  margin-bottom: 64px;
}

figure.example {
  width: 228px;
  float: left;
  margin-right: 19px;
  margin-bottom: 57px;
}

figure.example.fourth {
  margin-right: 0;
}

figcaption {
  font-size: 12px;
  line-height: 18px;
}

img.example-thumb {
  width: 228px;
  height: 147px;
  margin-bottom: 27px;
}

div.half {
  float: left;
  width: 475px;
  margin-right: 19px;
}

div.half.second {
  margin-right: 0;
}

dl {
  line-height: 18px;
  margin: 40px 0;
}

dt {
  margin-bottom: 4px;
  color: #83b5ca;

}
dd {
  margin-bottom: 20px;
}


#get-the-code {
  margin-top: 43px;
  background-color: #454543;
  color: #f4f4ec;
  width: 280px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
}

#get-the-code:hover {
  text-decoration: none;
  background-color: #555;
}

footer {
  padding: 80px 0 20px 0;

}

#footer-links {
  padding-top: 41px;
  float: right;
}


#footer-link-pipe {
  padding: 0 10px;
}

/**
 * Demo Viewer
 */
body.demo {
  overflow: hidden;
}
body.demo iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
#iframe-container {
  height: 100%;
  padding-top: 37px;
  width: 100%;
}
#top {
  background-color: #30302e;
  z-index: 101;
  width: 100%;
  position: absolute;
  height: 37px;
  text-align: right;
  line-height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
#top .inner {
  padding: 5px 5px;
}
a#see-the-code {
  width: 166px;
  height: 27px;
  float: right;
  display: block;
  background: url(images/demo-sprites.png) right bottom;
}
a#see-the-code:hover {
  background-position: right top;
}
a#back-to-landing {
  width: 357px;
  height: 27px;
  display: block;
  background: url(images/demo-sprites.png) left bottom;
}
a#back-to-landing:hover {
  background-position: left top;
}
span.bull {
  font-size: 8px;
  color: #888;
}
span.subtitle {
  color: #f4f4ec;
  font-size: 11px;
}
pre#the-code {
  color: #999;
  z-index: 100;
  position: absolute;
  top: 37px;
  line-height: 16px;
  font: 10px Monaco, monospace;
  overflow-y: auto;
  overflow-x: hidden;
  width: 0;
  -webkit-transition: width 0.2s ease-out;
  background: rgba(0,0,0,0.87) url(images/line-no.gif) top left repeat-y;
}

/**
 * Pretty print
 */

.str {
  color: #6a9d78;
}

.kwd {
  color: #604870;
}

.com {
  color: #555;
}

.typ {
  color: #ebd2a0;
}

.lit {
  color: #4f91a9
}

.pun {
  color: #c1a977
}

.pln {
  color: #ddd
}

.tag {
  color: #999
}

.atn {
  color: #999
}

.atv {
  color: #999
}

.dec {
  color: #2f97fa;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 29px;
  padding: 10px;
}

ol.linenums li {
  padding-left: 3px;
  width: 100%;
  word-wrap: break-word;
}
