#model-viewer{
  width:970px;
}

#viewerCanvas {
  display: block;
  width: 970px;
  float:left;
  z-index: 100;
  cursor: move;
}
#viewerModelsWrapper{
  width: 970px;
  overflow:hidden;
}

#viewerModelsStrip {
  float:left;
  width: 3000px;
  height: auto;
  margin:0 0 0 5px;
}
#viewerModels{
  position:relative;
  float:left;
  left:0px;
  width: auto;
  height: auto;
}

a.modelLink{
  display:block;
  font-size:10px;
  width:60px;
  height:60px;
  background:#fff;
  float:left;
  margin:0 2px 5px 2px;
  overflow:hidden;
  z-index:200;
}

#viewerSettings {
  float:left;
  width:960px;
  height:auto;
}

h1, h2, h3, h4, h5 {
  color: #b65024;
  font-weight: normal;
}

h1 {
  text-align: center;
  padding: 20px;
}

p {
  font-family: arial, sans-serif;
  font-size: 16px;
  margin: 10px 0;
}

a, a:hover, a:visited {
  color: #b65024;
  font-weight: normal;
  text-decoration: underline;
}

#viewerModels img {
  width: 42px;
  height: 42px;
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

#viewerModels img:hover {
  opacity: 1;
  filter: alpha(opacity = 100)
}

div.clear {
  clear: both;
}