#model-viewer{
  width:970px;
}

#viewerCanvas {
  display: block;
  width: 970px;
  float:left;
  z-index: 100;
  cursor: move;
}
#viewerModelsWrapper{
  width: 970px;
  overflow:hidden;
}

#viewerModelsStrip {
  float:left;
  width: 3000px;
  height: auto;
  margin:0 0 0 5px;
}
#viewerModels{
  position:relative;
  float:left;
  left:0px;
  width: auto;
  height: auto;
}

a.modelLink{
  display:block;
  font-size:10px;
  width:60px;
  height:60px;
  background:#fff;
  float:left;
  margin:0 2px 5px 2px;
  overflow:hidden;
  z-index:200;
}

#viewerSettings {
  float:left;
  width:960px;
  height:auto;
}

#viewerModels img {
  width: 42px;
  height: 42px;
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

#viewerModels img:hover {
  opacity: 1;
  filter: alpha(opacity = 100)
}

#model-viewer div.clear {
  clear: both;
}