#model-viewer{
  width:970px;
}

#viewerCanvas {
  display: block;
  width: 970px;
  height:540px;
  float:left;
  z-index: 100;
  cursor: move;
  margin-bottom:-135px;

}
#viewerModelsWrapper{
  width: 970px;
  height:68px;
  overflow-x:hidden;
  float:left;
}

#viewerModelsStrip {

  float:left;
  width: 3000px;
  height: auto;
  margin:0;
}
#viewerModels{
  position:relative;
  float:left;
  left:0px;
  width: auto;
  height: 66px;
}

a.modelLink{
  display:block;
  font-size:10px;
  width:64px;
  height:64px;
  background:#9cA;
  float:left;
  margin:0 2px 0 2px;
  overflow:hidden;
  z-index:200;
  border:1px solid #eee;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
}

#viewerSettings {
  float:left;
  width:960px;
  height:auto;
}

#model-viewer div.clear {
  clear: both;
}